{#{% if messages %}#}
{#<div class="container">#}
{#    <div class="row justify-content-center"> <!-- Center the content horizontally -->#}
{#        <div class="col-md-4 text-center"> <!-- Adjust the width and center-align -->#}
{#            {% for message in messages %}#}
{#            <div class="alert alert-{{ message.tags }}">#}
{#                {{ message.tags | title }}#}
{#                <strong>{{ message.title }}</strong><br>#}
{#                {{ message.content }}#}
{#            </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{%endif%}#}

{% if messages %}
{%for message in messages%}
<div id ="message" class="container">
    <div class="alert alert-{{message.tags}} alert-dismissable  fade show text-center">

        <strong>
              {{message.tags | title}}

        </strong>
        {{message}}
    </div>
</div>

{%endfor%}

{%endif%}