.btn{
  padding: 6px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background-color: #E5AE1F;
  color: white;
}

.bg-custom {
    background-color: #03478D !important;
    /* You can also set the text color to white for better contrast */
    color: white !important;
}