.landingPage{
    display: flex;
    align-items: center;
    padding: 40px 140px;
    gap: 80px;
    }
    /* .left{
        padding-top: 50px;
    } */
    .left h4{
        font-size: 40px;
        color: rgb(28, 28, 28);
    }
    .left h1{
        font-size: 60px;
        line-height: 55px;
        color: #03478D;
        padding: 10px 0;
    }
    .left p{
       width: 500px;
       color: rgb(82, 82, 82);
       font-weight: 400;
       margin-top: 10px;
    }
    .top{
        font-size: 70px;
    }
    .right img{
        height:400px;
        width: 400px;
        object-fit: cover;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
        overflow: hidden;
        margin-top: 10px;
    }
    @media only screen and (max-width: 1024px){
    .landingPage{
        padding: 20px;
        gap: 20px;
    }
    .left{
        margin-left: 20px;
    }
    }
    @media only screen and (max-width: 768px){
    .landingPage{
        padding: 20px 80px;
        gap: 25px;
    }
    .left h4{
        font-size: 20px;
    }
    .left h1{
        font-size: 30px;
        line-height: 30px;
    }
    .top{
        font-size: 35px;
    }
    .left p{
        width: 280px;
        font-size: 12px;
    }
    .right img{
        width: 300px;
        height: 320px;
        border-radius: 0;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    }
    @media only screen and (max-width: 425px){
    .landingPage{
        flex-direction: column;
        position: relative;
        top: -30px;
    }
    .left{
        position: absolute;
        top: 220px;
        text-align: center;
        background-color: white;
        padding: 10px ;
        opacity: 0.8;
        border-radius: 10px;
    }
    .left h1{
        font-size: 40px;
        line-height: 40px;
    }
    .top{
        font-size: 50px;
    }

    .left p{
        width: 350px;
        padding-bottom: 5px;
    }
    .left h4{
        font-size: 30px;
    }
    .right img{
      border-radius: 0;
      width: 420px;
      height: 470px;
    }
    }

    @media only screen and (max-width: 375px){
        .right img{
            width: 373px;
            height: 470px;
          }
          .left{
            margin-right: 20px;
          }
          .left h1{
           font-size: 30px;
           line-height: 30px;
          }
          .top{
            font-size: 35px;
          }
        .left h4{
         font-size: 20px;
         margin-top: 10px;
        }
          .left p{
           width: 320px;
           padding-bottom: 20px;
          }
    }