<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center bg-custom">
            <a class="navbar-brand" href="/">
                <img src="/static/images/favicon.png" width="50" height="50" class="navbar-brand-img" alt="ATU Logo">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    {% if incoming_patients %}
                        {% for incoming_patient in incoming_patients %}
                            <li class="nav-item" style="width: 100%;">
                                <a href="{% url 'diagnosis' incoming_patient.patient.id %}" class="nav-link">
                                    <div class="border p-3">
                                        <i class="fa-solid fa-hospital-user pe-5"></i>
                                        <span class="nav-link-text">{{ incoming_patient.patient.patient_clinic_id }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="nav-item" style="width: 100%;">
                            <div class="border p-3">
                                <p>No incoming patients</p>
                            </div>
                        </li>
                    {% endif %}
                </ul>

                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Resources</span>
                </h6>
                <ul>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'show_profile' %}">
                            <i class="fas fa-user"></i>
                            <span class="nav-link-text">View Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>