{% extends "opd/opd_base.html" %}
{% load static %}
{% block title %}
    OPD Visits List
{% endblock %}
{% block opd_content %}
    {% load crispy_forms_tags %}
    <div class="container mt-3">
    <h2>Recent OPD Visits</h2>
    <!-- Search box and button -->

{#<div class="form-group">#}
{#    <form method="GET" action="{% url 'search_patients' %}" class="row">#}
{#        <div class="col-md-10">#}
{#            <div class="form-group">#}
{#                <input type="text" class="form-control" id="search-term" name="search-term"#}
{#                       placeholder="Search by patient ID/name/index_staff_id/phone"#}
{#                       value="{{ search_term }}">#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-2">#}
{#            <button class="btn btn-primary btn-block" id="search-button" type="submit">#}
{#                Search#}
{#                <i class="fas fa-search">search</i> Search#}
{#                <i class="fa-solid fa-magnifying-glass"></i>#}
{#            </button>#}
{#        </div>#}
{#    </form>#}
{#</div>#}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Patient ID</th>
                <th>Temperature</th>
                <th>Pulse Rate</th>
                <th>Blood Pressure</th>
                <th>Weight</th>
                <th>Visit Date/Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for patient in opd_visits %}
                <tr>
                    <td>{{ patient.patient.patient_clinic_id }}</td>

                    <td>{{ patient.temperature }}</td>
                    <td>{{ patient.pulse_rate }}</td>
                    <td>{{ patient.blood_pressure }}</td>
                    <td>{{ patient.weight }}</td>
                    <td>{{ patient.created }}</td>
                    <td>
                        <a class="btn btn-primary view-opd_visit-btn" data-patient-id="{{ patient.patient.id }}">View</a>
                        <a class="btn btn-primary" href="{% url 'edit_opd_visit' patient.id %}">Edit</a>
                        <a class="btn btn-primary" onclick="showDeleteConfirmationModal()">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No visits record found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal for viewing patient data -->
    <div class="modal fade" id="viewPatientModal" tabindex="-1" aria-labelledby="viewPatientModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div style="width: 100%;">
                        <h5 class="modal-title" id="viewPatientModalLabel">View Patient Details</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You do not have permission to delete this record. Please contact the admin.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {#{% endblock %}#}
    <script>
        $(document).ready(function () {
            function formatDate(date) {
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                var hours = date.getHours().toString().padStart(2, '0');
                var minutes = date.getMinutes().toString().padStart(2, '0');
                var seconds = date.getSeconds().toString().padStart(2, '0');

                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            }

            $('.view-opd_visit-btn').click(function () {
                var patientId = $(this).data('patient-id');
                console.log('patient id ',patientId)
                var baseUrl = window.location.origin;
                var fetchPatient = baseUrl + '/opd/fetch_patient_data/' + patientId + '/'
                $.ajax({
                    url: fetchPatient,
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {

                        console.log(response)
                        console.log(typeof response)
                        var patientData = response.patient


                        // Build a table to display patient data
                        var tableHtml = '<table class="table table-striped">';
                        for (var key in patientData) {
                            if (patientData.hasOwnProperty(key)) {
                                tableHtml += '<tr>';
                                tableHtml += '<th>' + key + '</th>';
                                if (key === 'Date Registered' || key === 'Last Modified') {
                                    // Check if the key is a date field
                                    var date = new Date(patientData[key]);
                                    var formattedDate = formatDate(date); // Format the date
                                    tableHtml += '<td>' + formattedDate + '</td>';
                                } else {
                                    tableHtml += '<td>' + patientData[key] + '</td>';
                                }
                                tableHtml += '</tr>';
                            }
                        }
                        tableHtml += '</table>';

                        // Fill in the patient data in the modal
                        $('#viewPatientModal .modal-body').html(tableHtml);

                        // Show the modal
                        $('#viewPatientModal').modal('show');
                        {#alert('Patient Data: ' + JSON.stringify(response));#}
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });

                $('#viewPatientModal .modal-footer button').click(function () {
                    // Close the modal
                    $('#viewPatientModal').modal('hide');
                });

                $('#viewPatientModal .modal-header button.close').click(function () {
                    // Close the modal
                    $('#viewPatientModal').modal('hide');
                });
            });
        });

        function showDeleteConfirmationModal() {
        $('#deleteConfirmationModal').modal('show');
    }
    </script>
{% endblock %}
