{%load static %}
{% include 'base.html' %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%block content%}
    <div class="landingPage">
        <div class="left">
            <h4> ATU HyperX</h4>
            <h1><span class="top">Your Health</span> <br />
            is Our Priority</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, eos aliquid pariatur architecto earum eaque laborum quibusdam eius vitae debitis, totam vel omnis voluptas deserunt hic consequuntur sint possimus nulla.</p>
        </div>
        <div class="right">
            <img src="{% static 'images/nurse.jpg'  %}" alt="nurse" />

        </div>
    </div>

{% endblock%}